{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "never"
}
